[Unit]
Description=A50 Android 11 automatic suspend activation
Requires=repowerd.service
After=repowerd.service
PartOf=repowerd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh /usr/local/bin/a50-enable-autosuspend.sh
TimeoutStartSec=20

[Install]
WantedBy=repowerd.service
